UPLOADTHING_TOKEN=your_uploadthing_token_here
STORAGE_TO_TOKEN=your_storage_to_token_here
CRON_SECRET=your_random_cron_secret_here
NEXT_PUBLIC_APP_URL=https://openshare.vercel.app
NEXT_PUBLIC_GITHUB_REPO=tech-anupam/OpenShare
NEXT_PUBLIC_IMAGEKIT_ENDPOINT=https://ik.imagekit.io/your_imagekit_id
NEXT_PUBLIC_CLARITY_ID=your_clarity_project_id
UPSTASH_REDIS_REST_URL=https://your-database.upstash.io
UPSTASH_REDIS_REST_TOKEN=your_upstash_redis_token
